<h2>Boards</h2>

<% @boards.each do | board | %>
  <li><%= link_to board.title, board %></li>
<% end %>


<%if(current_user) %>
  <h2>Your Boards</h2>

    <% current_user.boards.each do |board| %>
    <li><%= link_to board.title, board %></li>
    <% end %>

<% end %>
